{# contact1 #}
<section class="w3l-contact-11 py-5" id="contact">
    <div class="contacts-main py-lg-5 py-md-4">
        <div class="contant11-top-bg">
            <div class="container">
                <span class="subhny-title text-center mb-2">Contact Us</span>
                <h3 class="hny-title text-center mb-md-5 mb-4">Get in touch with CZ Manufacturing</h3>
                <div class="d-grid contact section-gap">
                    <div class="contact-info-left d-grid text-center">
                        <div class="contact-info">
                            <span class="fa fa-map-marker" aria-hidden="true"></span>
                            <h4>Location</h4>
                            <p>{{ address }}</p>
                        </div>
                        <div class="contact-info">
                            <span class="fa fa-phone" aria-hidden="true"></span>
                            <h4>Phone</h4>
                            <p><a href="tel:OurPhone">{{ phone }}</a></p>
                        </div>
                        <div class="contact-info">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                            <h4>Email</h4>
                            <p><a href="mailto:our@email.com" class="email">{{ email }}</a></p>
                        </div>
                        <div class="contact-info">
                            <span class="fa fa-clock-o" aria-hidden="true"></span>
                            <h4>Working Hours</h4>
                            <p>8:30 - 17:30</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-41-mian mt-5 pt-lg-5 pt-md-4">
            <div class="container">

                <div class="form-inner-cont">
                    <form action="#"
                        onsubmit="alert('Temporarily out of order, please use our email address. Thank you.')"
                        method="get" class="signin-form">
                        <div class="d-grid align-form-map">
                            <div class="form-input">
                                <label for="w3lName">Name</label>
                                <input type="text" name="w3lName" id="w3lName" placeholder="" />
                            </div>
                            <div class="form-input">
                                <label for="w3lSender">Email(Required)*</label>
                                <input type="email" name="w3lSender" id="w3lSender" placeholder="" required="" />
                            </div>
                            <div class="form-input">
                                <label for="w3lSender">Subject*</label>
                                <input type="text" name="w3lSubect" placeholder="" class="contact-input">
                            </div>
                            <div class="form-input">
                                <label for="w3lSender">Phone Number*</label>
                                <input type="number" name="w3lPhone" placeholder="" class="contact-input">
                            </div>
                        </div>
                        <div class="form-input">
                            <label for="w3lMessage">Message(Required)*</label>
                            <textarea placeholder="" name="w3lMessage" id="w3lMessage" required=""></textarea>
                        </div>
                        <div class="submit text-right">
                            <button type="submit" class="btn btn-primary btn-style">Submit Message</button>
                        </div>
                    </form>


                </div>
                <div class="map mt-5">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.9149066801915!2d14.416142851469992!3d50.08788002120289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94e8e9dba22b%3A0xe7ba3586f59bb968!2sKaprova%2042%2C%20110%2000%20Star%C3%A9%20M%C4%9Bsto%2C%20Czechia!5e0!3m2!1sen!2suk!4v1607173708426!5m2!1sen!2suk"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
</section>
{# /contact1 #}