  <div class="w3l-cta5 call-to-action-5-content text-center py-5">
    <div class="container py-md-5">
      <h3 class="subhny-title text-center">What We Offer</h3>
      <h3 class="hny-title text-center mb-4">Our Services</h3>
      <p class="shny-para">We offer complex solutions in industrial automation. We can provide you with either a ready-made solution for automation of the most common processes or create a specific solution for your business.  </p>
      <a href="about.html" class="btn btn-primary btn-style mb-4">Our Team <span class="fa fa-chevron-right"></span></a>
      <div class="three-grids d-grid grid-columns-3">
        <div class="grid">
          <div class="icon">
            <span class="fa fa-sitemap" aria-hidden="true"></span>
          </div>
          <div class="icon-info">
            <h4><a href="how-we-meet-standards.html">Problem analysis</a></h4>
            <p>First of all, one of our top-notched experts analyses your production pipeline and offers you the automation solution.
            </p>
          </div>
        </div>
        <div class="grid">
          <div class="icon">
            <span class="fa fa-book" aria-hidden="true"></span>
          </div>
          <div class="icon-info">
            <h4><a href="how-we-meet-standards.html">Solution selection</a></h4>
            <p>We offer you many solutions based on your requirements and restrictions like budget, space, time of construction. You select the right one.</p>
          </div>
        </div>
        <div class="grid">
          <div class="icon">
            <span class="fa fa-flask" aria-hidden="true"></span>
          </div>
          <div class="icon-info">
            <h4><a href="how-we-meet-standards.html">Implementation</a></h4>
            <p>In the end, our expert team implements each part of the selected solution. This includes hardware realization of required components.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# /call to action 5 #}
  <section class="w3l-features14">
    <div class="w3l-feature-6-main py-5">
      <div class="container py-lg-5">
        <div class="row align-center">
          <div class="col-lg-7 img-left">
            <div class="header-section text-left mb-5">
              <span class="subhny-title">Services We Do</span>
              <h3 class="hny-title">
               What We Do
              </h3>
            </div>
            <div class="grid mt-0">
              <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-eye"></span></div>
                <div class="w3l-feature-6-gd-info">
                  <h3><a href="how-we-meet-standards.html">Machine vision</a></h3>
                  <p>Make your sorting automated - save the time of your employees to the meaningful work.</p>
                </div>
              </div>
              <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-sitemap"></span></div>
                <div class="w3l-feature-6-gd-info">
                  <h3><a href="how-we-meet-standards.html">Problem analysis</a></h3>
                  <p>Let your engineers offer you the best solution for processes deployed in your plant.</p>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-cog"></span></div>
                <div class="w3l-feature-6-gd-info">
                  <h3><a href="how-we-meet-standards.html">Hardware construction</a></h3>
                  <p>We have a team of highly skilled people that can help you implement your solution.</p>
                </div>
              </div>
              <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-clone"></span></div>
                <div class="w3l-feature-6-gd-info">
                  <h3><a href="how-we-meet-standards.html">Monitoring software</a></h3>
                  <p>Our software engineers are specialists in implementing reliable and user-friendly interfaces.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 img-right mt-5 pt-lg-4">
            <img src="assets/images/pic2.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>