<!-- /content-6-->
  <section class="w3l-content-6" id="about">
    <!-- /content-6-main-->
    <div class="content-6-mian py-5">
      <div class="container py-lg-5 py-md-4">
        <div class="content-info-in row">
          <div class="content-gd col-lg-6 pr-lg-4">
            <div class="title-content text-left mb-sm-4 mb-3">
              <h3 class="subhny-title">About Us</h3>
              <h3 class="hny-title">We have more than 20 years of experience and a team of highly skilled workers.</h3>
            </div>
            <p>CZ Manufacturing started as a spin-out of the successful project in a large energy company. Company's team are mostly the experienced engineers that have a lot of experience in machine vision and image processing as well as in electronics and installations. </p>
          </div>
          <div class="content-gd col-lg-3 col-6 pl-lg-4 pl-lg-5 mt-lg-0 mt-md-5 mt-4">
            <img src="assets/images/s1.jpg" alt="about" class="radius-image img-fluid">
          </div>
          <div class="content-gd col-lg-3 col-6 pl-lg-4 pl-lg-5 mt-lg-0 mt-md-5 mt-4">
            <img src="assets/images/s2.jpg" alt="about" class="radius-image img-fluid">
          </div>
        </div>
        <p class="mt-4">Besides our data science team, we have a group of skilled software engineers that makes interface for your products user-friendly and accessible. Also, we have an experienced analyst that can provide you with the information you need to optimize processes in your business. This award-winning composition of our team can guarantee you the best outcomes if it comes to reliability, accessibility and flexibility. If you have any question to any member of our team, please contact us right now.</p>
      </div>
  </section>
  <!-- //content-6-->
    <!--/w3l-grids-3-->
  <section class="w3l-grids-3 py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row bottom-ab-grids">
          <div class="col-lg-6 bottom-right-grids mb-lg-0 mb-5">
            <img src="assets/images/pic5.png" alt="" class="img-fluid">
           </div>
            <div class="col-lg-6 bottom-ab-left pl-lg-5">
                <span class="subhny-title mb-2">Be one of use</span>
                <h3 class="hny-title mb-4">Join our team!</h3>
                <p class="">We are a modern international company with a great team. We are looking for enthusiastic and talented people like you. We can offer you a great background of highly skilled and experienced people.</p>
                <ul class="cont-4 mt-4">
                    <li><span class="fa fa-check"></span>Work with our winning team!</li>
                    <li><span class="fa fa-check"></span>Find the job that entertains you!</li>
                    <li><span class="fa fa-check"></span>Make real products that change the world!</li>
                </ul>
                <a href="contact.html" class="btn btn-style btn-primary mt-lg-5 mt-4">Contact us <span class="fa fa-chevron-right"></span></a>
            </div>

        </div>
    </div>
</section>
  <!--//w3l-grids-3-->